
#imgViewer {
	width: 100%;
    height: 100%;
    display: table;
    
}

#imgViewer .folderbox {
	position: relative;
    width: 150px;
    height: 200px;
    background-color: #fff;
    text-align: center;
    margin: 0 5px 5px 0;
    float: left;
    border: 1px solid #ddd;
}

#viewerFilePath {
    width: 100%;
    vertical-align: middle;
    background-color: #e2e2e2;
    padding: 10px 0;
    display: flow-root;
}

#viewerFilePath span {
	padding: 0 10px;
}

#imgViewer .wrap {
	margin: 10px;
}

#imgViewer .wrap img {
	margin-top: 10px;
	height: 100px;
    max-width: 100%;
}

#imgViewer .title {
	position:absolute;
	width: 100%;
	bottom: 40px;
	font-size: 12px;
	word-break: break-all;
}

#imgViewer a {
	text-decoration: none;
	color:#555;
}

#imgViewer .foldername{
	font-weight: bold;
	color: #000;
	font-size: 15px;
	vertical-align: bottom;
}
#imgViewer a:hover,
#imgViewer a:focus {
	color:#000;
	text-decoration: none;
}
.deleteBtn,
.deleteFolderBtn{
	right: 5px;
    bottom: 5px;
    position: absolute;
}
.selectCb{
	left: 5px;
	bottom: 5px;
	position: absolute;
	width: 20px;
	height: 20px;
}

#deleteAllBtn{
	margin-right: 10px;
    margin-left: 10px;
    padding: 5px 10px;
}

.controller{
	padding: 10px 10px 0 10px;
}

#allSelectCb{
	width: 20px;
    height: 20px;
    vertical-align: middle;
}
