  body {
      margin: 0;
      padding: 0;
      color: #333;
      overflow:hidden;
  }

  #stage {
      position: absolute;
      width: 100%;
      height: 100%;
      left: 50%;
      top: 50%;
  }



  canvas {
      position: absolute;
  }

  #result {
      display: block;
      width: 100%;
      height: 100%;
      background-color: brown;
  }

  #result .container {
      display: block;
      background-color: gray;
      width: 200px;
      height: 200px;
      color: white;
      margin: auto;
  }

  #game-layer {
      z-index: 2;
      background-color: gray
  }

  #background-layer {
      z-index: 1;
  }

  #resultPage {
      position: absolute;
      width: 100%;
      height: 50%;
  }

  #testMessage {
      color: white;
  }
