html {
	-webkit-text-size-adjust: none;
}

* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 14px;
  font-family: Roboto, sans-serif;
  background-color: #eee;
}

ul,
li{
	list-style-type: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	cursor: pointer;
}

.flexContainer{
  display: flex;
}
.footer {
	width: 100%;
	text-align: center;
	display: block;
	border-top: 1px solid #ccc;
	padding: 20px 0;
	clear: both;
}

.wrap {
  padding-top: 90px;
	width: 100%;
	height: 100%;
	position: relative;
	display: table;
	table-layout: fixed;
}
.floatLeft{
	float: left;
}
.floatRight{
	float:right;
}
.fl {
	width:300px;
	display: table-cell;
	background-color: #ececec;
}

.fr {
	display: table-cell;
}

.w50per {
	width: 50%;
}

#list {
	width: 300px;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #ddd;
}

ul.gamelist {
	width: 100%;
    height: 100%;
}

.gamelist li {
	display: block;
    width: 100%;
    font-size: 15px;
    color: #19213a;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    background-color: #fff;
    text-decoration: none;
    cursor: pointer;
}

.gamelist li:hover,
.gamelist li:focus,
.gamelist li.select {
	background-color: #abb6c4;
}

.imgThumbnail {
	display: table-cell;
	width: 70px;
}

.gametitle {
	vertical-align: middle;
	display: table-cell;
}

.gamelist img {
	width: 60px;
	height: 60px;
}

.filelistContainer {
	width: 100%;
	display: table;
	table-layout: fixed;
	margin-top: 15px;
}

.wrap h3 {
	margin: 5px auto;
	text-align: center;
}

.filelistContainer.fr {
	width: 100%;
}

.filePreview {
	border: 1px solid #ccc;
	width: 95%;
	height: 210px;
	overflow-x: hidden;
	overflow-y: scroll;
	margin: 0 10px;
}

.filePreview li {
	display: block;
    width: 100%;
    overflow: hidden;
    background-color: #efefef;
    padding: 5px;
}

.filePreview li:nth-child(2n) {
	background-color: #e3e3e3;
}

.filePreview li:last-child {
	border-bottom: 0px;
}

.filePreview:after {
	clear: both;
}

.gamekey {
	margin: 10px auto;
}

.filename {
	display: block;
	text-align: left;
	float: left;
	width: 80%;
	padding: 5px;
}

.filesize {
	display: block;
	float: right;
	text-align: right;
}

.subject {
	margin: 10px auto;
	font-size: 18px;
	font-weight: 800;
}

.description {
	font-size: 15px;
	color: #333;
}

.mainTitleimg {
	display: none;
}

#write {
	clear: both;
}


.close {
	position: absolute;
	color: #aaa;
	font-size: 35px;
	font-weight: bold;
	right: 10px;
	top: -5px;
}

.close:hover,
.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
}

/*******************************************
                  VIEWER
*******************************************/
.gameView {
	margin: 0 15px;
	display: block;
}

.gameView ul {
	border: 1px solid #ddd;
	margin: 10px 0;
}

.gameView li {
	width: 100%;
	display: table;
	table-layout: fixed;
	border-bottom: 1px solid #eee;
}

.gameView .viewtitle {
	width: 20%;
	display: table-cell;
	background-color: #eeeeee4f;
	border-right: 1px solid #ddd;
	height: 100%;
	padding: 5px;
	font-weight: 700;
	font-size: 12px;
	color: #828282;
}

.gameView .viewcontents {
	height: 100%;
	display: table-cell;
	padding: 5px 10px;
}

.gameView img {
	margin-top: 10px;
	width: 150px;
	max-width: 100%;
}

.errorMessage {
	color: #f00;
	font-size: 18px;
	width: 100%;
	height: 300px;
	margin: auto;
	text-align: center;
}

#viewerFilePath {
	width: 100%;
	vertical-align: middle;
	background-color: #eee;
	border: 1px solid #ddd;
	font-weight: 700%;
	padding: 10px 0;
}

#deleteBtn{
	position: absolute;
	right: 5px;
	top:5px;
}
#downloadBtn{
	margin: 3px 2px 0;
}

.badge-success{
  background-color: #02a499;
  font-weight: 500;
  color:#fff;
}

.badge{
  display: inline-block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  border-radius: .25rem;
}


.btn{
  display:block;
  padding: .25em .4em;
  font-weight: 400;
  text-align: center;
  border-radius: 3px;
}

.btn-primary{
  color: white;
  font-weight: 500;
  background-color: #626ed4;
  border: 1px solid #626ed4;
}

.rounded-circle{
  border-radius: 50%!important
}
.table{
  border-collapse: collapse;
}

.table thead th{
 vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}
.table td, .table th{
  padding: .75em;
  border-top:1px solid #dee2e6;
}

.table-hover tr:hover{
  background-color: #f4f4f4;
}

a{
  cursor: pointer;
}

.file{
	font-size: 1.2em;
}