$motionSpeed : .3s;

.boxPhoto{
    position: relative;
    background-color:#000;
    border-radius: .5em;
    overflow: hidden;
    height: 280px;

    .img{
        transform: scale(1);
        transform: translate(.5, .5);
        -webkit-transition: transform $motionSpeed ease-out; 
        -moz-transition: transform $motionSpeed ease-out; 
        -ms-transition: transform $motionSpeed ease-out;
        -o-transition: transform $motionSpeed ease-out; 
        transition: transform $motionSpeed ease-out;   

        img{
            max-width: 100%;
        }
    }

    &:hover .img{
        transform: scale(1.2);
    }
}


.boxCover{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all 0.5s;
    background: rgba(0, 0, 0, 0);
    display: flex;
    flex-direction: column;
    cursor: pointer;

    &:hover{
        background: rgba(0, 0, 0, 0.7);

        .linkText{
            max-width:7rem;
        }

        button{
            display: block;
        }
    }

    button {
        background: transparent;
        display: none;
        padding: .8em  3em;
        border-radius: 1.5em;
        border: 2px solid rgba(255, 255, 255, 0.5);
        color: #fff;    
        font-weight: 700px;
        font-size: 0.8em;
        transition: background-color, color,  .3s;

        &:hover{
            background-color: #fff;
            color: #000;
        }
    }

    .explanation{
        display: none;
        flex: 1;
        color: #fff;
        font-weight: 600;
        padding: 20px;
    }
}

.boxDetail{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .items{
        display: flex;
        flex-direction: row;
    }

    .linkUrl{
        background: #fff;
        color: #0d0c22;
        font-size: .8em;
        font-weight: 500;
        line-height: 16px;
        border-radius: 4px;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        padding: 2px 4px 2px 4px;
        margin: 5px 5px 0 0;
        border: 1px solid rgba(0,0,0,0.1);

        img{
            fill: #fff;
        }
    }

    .linkText{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        max-width: 0;
        -webkit-transition: max-width 200ms ease;
        transition: max-width 200ms ease;
    } 
}

.boxFooter{
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    
    label{
        font-weight: 600;
        font-size: 1.1em;
        flex: 1 1;
    }
    .date{
        color: #666;
        font-size: 0.9em;
    }
}

.inner{
    box-sizing: border-box;
    opacity: 1;
}
