.category{
    background-color: #fff;
    width: 100%;
    margin:20px 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

    ul{
        flex: 1;
        width: 500px;
        margin: 0 20px;
        overflow-x: hidden;
        overflow-y: hidden;  
        white-space :nowrap;
        scroll-behavior:smooth;  
    }

    li{
        display: inline-block;
        font-size: 1.2em;

        span{
            cursor: pointer;
            display: block; 
            background: rgba(255,255,255,0);
            transition: background .2s;
            -webkit-transition: background 200ms ease;

            &.active{
                padding: 10px 20px;
                border-radius: 8px; 
                background: rgba(13,12,34,0.05);
                color: #000;
            }

            a{
                display: block; 
                padding: 10px 20px;
                border-radius: 8px;    
                color: #878787;
                transition: all .2s;
                -webkit-transition: color 200ms ease;
            }
        }

        &:hover a {
            color: #000;
        }  
    }
}


.page{
    cursor: pointer;
    padding: 5px;
    display: flex;
    transition: background .5s;
    &:hover{
        background: rgba(13,12,34,0.05);
        border-radius: 8px;
    }
}