/* 로딩  */
.loadingWrap{
    position: fixed;
    display: flex;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    background: linear-gradient( 0.25turn,  #4362cc, #8a3dbd);
  }
  .loadingWrap > section > p{
    margin-top: 20px;
  }
  .loadingWrap > section {
    margin: auto;
    font-size: 2em;
    color: #fff;
  }
  .loadingWrap > section > .clock{
    border-radius: 60px;
    border: 3px solid #fff;
    height: 80px;
    width: 80px;
    position: relative;
    top: 28%;
    top: -webkit-calc(50% - 43px);
    top: calc(50% - 43px);
    left: 35%;
    left: -webkit-calc(50% - 43px);
    left: calc(50% - 43px);
  }
  
  .loadingWrap > section > .clock:after{
    content: "";
    position: absolute;
    background-color: #fff;
    top:2px;
    left: 48%;
    height: 38px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 97%;
    transform-origin: 50% 97%;
    -webkit-animation: grdAiguille 2s linear infinite;
    animation: grdAiguille 2s linear infinite;
  }
  
  .loadingWrap > section > .clock:before{
    content: "";
    position: absolute;
    background-color: #fff;
    top:6px;
    left: 48%;
    height: 35px;
    width: 4px;
    border-radius: 5px;
    -webkit-transform-origin: 50% 94%;
    transform-origin: 50% 94%;
    -webkit-animation: ptAiguille 12s linear infinite;
    animation: ptAiguille 12s linear infinite;
  }
  

  
@-webkit-keyframes grdAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes grdAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
@-webkit-keyframes ptAiguille{
    0%{-webkit-transform:rotate(0deg);}
    100%{-webkit-transform:rotate(360deg);}
}

@keyframes ptAiguille{
    0%{transform:rotate(0deg);}
    100%{transform:rotate(360deg);}
}
  

.box:nth-child(2n-1){
    background-color: rgba(0,0,0,0.05);
}
  
.box{
    display: block;
    max-width: 100%;
    height: 100px;
    float:left;
    position: relative;
    /*margin:0 -4px -5px -2px;*/
    transition: all .2s ease;
    background-color: black;
}

.loading {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 11px solid rgb(214, 214, 214);
    border-radius: 50%;
    border-top-color: rgb(241, 241, 241);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
  }
  
  @keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }
  @-webkit-keyframes spin {
    to { -webkit-transform: rotate(360deg); }
  }