.modal {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 99;
    background-color: rgba(0, 0, 0, 0.6);
}

.modal button {
    outline: none;
    cursor: pointer;
    border: 0;
}

.modal > section header{
    position: relative;
    font-weight: 700;
    height: 30px;
}

.modal > section {
    width: 100%;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-show .3s;
    overflow: hidden;
}

.modal > section > .box{
    width: 100%;
    margin: 0 auto;
    min-width: 350px;
    max-width: 90%;
    border-radius: .3rem;
    background-color: #fff;
}

.modal > section header button {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 50px;
    font-weight: 700;
    text-align: center;
    color: #888;
    background: transparent;
}
.modal > section main {
    padding: 1em;
}
.modal > section footer {
    padding: 12px 16px;
    text-align: center;
}
.modal > section footer button {
    padding: 6px 12px;
    color: #fff;
    background-color: #6c757d;
    border-radius: 5px;
    font-size: 16px;
}

.openModal {
    display: flex;
    align-items: center;
    /* 팝업이 열릴때 스르륵 열리는 효과 */
    animation: modal-bg-show .3s;
}

@keyframes modal-show {
    from {
        opacity: 0;
        margin-top: -50px;
    }
    to {
        opacity: 1;
        margin-top: 0;
    }
}
@keyframes modal-bg-show {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}