.form{
    margin-bottom: 100px;

    .row{
        display: flex;
        flex-direction: column;
        margin: 5px 0;
    }

    .column{
        display: flex;
        flex-direction: row;

        .title{

        }
    }

    textarea{
        height: 200px;
    }   
}
footer{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    button{
        width: 200px;
        margin:0 10px;
    }
} 
.col{
    display: flex;
    flex-direction: row;
}

.title { 
    font-weight: 700;
    margin: 10px 0 10px 0;
}
.imgs{
    display: flex;
    flex-direction:column;
}

.inputFileList{
    
    display: flex;
    flex-direction: column;

    li{
        margin: 0 0 5px 0;
        display: flex;
        flex-direction: row;

        .file{
            flex: 1;
        }
    }

    span{
        background: #333;
        color: #fff;
        border-radius: 5px;
        flex-basis: 50px;
        border: 1px solid #ddd;
        box-sizing: border-box;
        margin-right: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}


.date{
    display:inline-block;
    span{
        margin: 0 20px 0 5px;
    }
}

.output{
    display: flex;
    align-items: center;
    justify-content: center;
    background: aquamarine;
    margin-top: 300px;
    flex: 1;
}

.message{
    margin: 20px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;

    .icon{
        height: 100px;
    }

    span{
        font-size: 1.5em;
    }

    .footer{
        margin-top: 20px;
    }
    svg{
        transform: scale(4);
    }
}
.captureArea{
    position: relative;
    border-radius: 8px;
    border: dashed 2px #ccc;
    padding: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;

    .crBoundary{
        position: relative;
        overflow: hidden;
        margin: 0 auto;
        z-index: 1;
        width: 100%;
        height: 100%;
        border-radius: 8px;
    }
}
.message{

    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;

    span{
        flex-basis: 80px;   
    }

    button{
        font-size: 1em;
        padding: 10px 30px;
        font-size: 1.2em;
    }
}
.view{
    .content{
        padding: 10px;
        font-size: 1.1em;
        flex: 1;
    }
    .row{
        display: flex;
        border-bottom: 1px solid #ddd;
        align-items: center;
        .title{
            width:100px;
        }
    }

    footer{
        display: flex;
        flex-direction: row;
        justify-content: center;
        margin-top: 20px;

        button{
            margin: 0 10px;
        }
    }  
}

.imgList{
    margin: 20px 0;
    max-width: 800px;
    background-color: #ccc;
    border-radius: 10px;
    padding:5px;
    display: grid;
    grid-template-columns: repeat(5,1fr);
    grid-gap: 10px;

    li{
        display: flex;
        flex-direction: column;
        padding: 5px;
        background-color: #333;
        text-align: center;

        .imgWrap{
            flex: 1;   
            position: relative;

            .cover{
                display: flex;
                background-color: rgba(117, 4, 4, 0.5);
                position: absolute;
                left: 0;
                right: 0;
                top: 0;
                bottom: 0;
                z-index: 999;
                color: #fff;
                font-size: 2em;
                align-items: center;
                justify-content: center;
            }
        }

        img{
            margin: auto;
            max-width: 100%;
            max-height: 100%;
            object-fit: cover;
        }

        button{
            width: 100%;
        }
    }
}