.component-button-bar{
  display: flex;
}


.component-button-bar label{
}

.component-button-bar input[type=radio]{
  
} 
.button-bar-container {
  display:inline-flex;
}
.button-bar-container + label{
  display: block;
  padding: .25em .4em;
  font-size: 75%;
  font-weight: 700;
  text-align: center;
  border-radius: .25rem;
  background-color: #02a499;
  color: #fff;
}