.Admin{
    display: flex;
    flex-direction: column;

    .menuContainer{
        position: fixed;
        top: 55px;
        bottom: 0;
        left: 0;
        z-index: 97;
        width: 50%;
        background-color: #262b40;
        transition: .5s;
        padding-top: 50px;
    }
    .topNavi 
    {
        display: flex;
        flex: none;
        width: 280px;
        background-color: #2d323e;
    }

    .cardTopHead{
        font-size: .5em;
        text-align: center;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        background: #eee;
    }

    .contentInnerWrap{
        margin: 0 auto;
        height: 100%;
        flex: 1;
        width: 90%;
    }
}

.container{
    display: grid;
    grid-template-columns: 1.3fr 4fr;
    grid-auto-rows: minmax(calc(100vh - 56px), auto);

    .item:nth-child(2){
        background-color: #f0f0f0;
    }
    
    .item:nth-child(1){
        border-right: 1px solid #ddd;
        background-color:#2c3e4e;
    }
}

.sidebar{
    margin: 20px;

    li{
        display: flex;
        vertical-align: middle;
        padding: .55rem .75rem;
        border-radius: .5rem;
        margin: .2em 0;

        a{
            color: #fff;
        }
    }
}


.content{
    section{
        margin: 30px;
    }
}
.select{
    background-color: #6c8499;
}