.ListQuizMain {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex: 1;
    overflow: auto;
    margin-top: 30px;
}  

.CategoryModel > .category{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: .3em 0;
}

.CategoryModel > .category label{
    width: 10%;
}

.CategoryModel > .category > .selectbox{
    flex: 1;
}

.ListQuizMain > section li:hover{
    background-color: #545cd8;
    color: #fff;
}

.ListQuizMain > section > ul > li{
    display: flex;
    width: 100%;
    align-items: center;
    padding: 1.2em 0;
    font-weight: 600;
    font-size: 1em;
    margin: .5em 0;
    justify-content: center;
    cursor: pointer;
    box-sizing: border-box;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: #000;
    transition: color .15s,background-color .15s,border-color .15s,box-shadow .15s;

  }