.wrap{
    position: relative;
    top:50px;
    display: flex;
    flex-direction: column;
    
    ul{
        display: flex;
        flex-direction: column;
        width: 90%;
        margin: auto;

        li{
            background: burlywood;
            flex: 1;
            margin: 10px;
            border-radius: 8px;
            padding: 15px 0;
            
        }
    }
}