.wrap-study{
    font-family: '맑은고딕';
    width: 100%;
    height: 100%;
    margin:0 auto;
    display: flex;
    flex-direction: column;
    box-sizing: content-box;
  }
  
  .wrap-study > header{
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #1e2b3c;
    color: #fff;
    flex-basis: 50px;
  }
  .wrap-study > section{
    position: relative;
    display: flex;
    overflow: auto;
    flex-direction: column;
    flex:1;
  }

